<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form> 
            <input type="text" v-model="nama" >
            <button @click="add()">add</button>
            <p>
                <ul id="#app">
                    <li v-for="item in users">{{ item.name }}
                        <button @click="edit()">Edit</button> ||
                        <button @click="delete(id)">Delete</button>
                    </li>
                </ul>
            </p>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            props: {
                msg : String
            },
            data() {
                return {
                    nama: '',
                    users: [{'name': 'Muhammad Iqbal Mubarok'},{'name': 'Ruby Purwanti'},{'name': 'Faqih Muhammad'}]
                }
            },
            methods: {
                add(){
                    this.users.push(this.nama);
                    this.nama = "";
                },
                edit(){
                    if (this.users.name){
                        this.users.push(this.nama);
                        this.nama = "";
                    }

                },
                delete(id){
                    this.$delete(this.users,id);
                }
            }
        })
    </script>
</body>
</html>